.darkened-image{
	filter: brightness(75%);
}

.overlay-dark:hover{
	filter: brightness(50%);
	transition: 0.5s ease;
}



/*Progress Bar CSS*/

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}


.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}


.progress-bar {
  height: 8px;
  background: #775da8;
  width: 0%;
}
/*Progress Bar Ends Here*/



/*Show Button on Hover*/
.image_wrap{
  position: relative;
  width: 500px;
  height: 450px;
}


.image_button{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility .5s;
}

.image_wrap:hover.image_button{
  visibility: visible;
  opacity: 1;
}

/*Show Button on Hover Testing 2*/

.scale-button{
  position:relative;
  text-align: center;
}

.centered{
  position: absolute;
  right:25%;
  top:50%;
  transform: translate(-50%,-50%);
}